@model MinVoiCe.ViewModels.AddTimeViewModel


<div class="addTimeWrapper">
    <div class="worktime addtime">
        <form asp-controller="Time" asp-action="Worktime" method="Post">
            <h3>Add Time//</h3>
            <hr />
            <div asp-validation-summary="All"></div>
            <table>
                <tr>
                    <td class="labelCell">Hours</td>
                    <td class="hourInput"><input asp-for="Hours"></td>
                    <td class="labelCell">Date</td>
                    <td><select asp-for="WeekId" asp-items="Model.SelectWeeks"></select></td>
                </tr>
                <tr>
                    <td class="labelCell">Description</td>
                    <td colspan="3"><textarea asp-for="Description"></textarea></td>
                </tr>
                <tr>
                    <td class="labelCell">Project</td>
                    <td colspan="3"><select asp-for="ProjectID" asp-items="Model.SelectProjects"></select></td>
                </tr>
            </table>
            <input type="image" src="~/images/add-button.png" style="width: 60px;" class="addButton withGlow" />
        </form>
    </div>
</div>