################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloMVC/.vs
/.vs/MinVoiCe/v15/Server/sqlite3
*.vs