

<h1>Add Client</h1>

<form asp-controller="Home" asp-action="Client" method="post">

    Name <input name="Name" type="text" /><br />
    Point of Contact <input name="PointOfContact" type="text" /><br />
    Phone <input name="Phone" type="text" /><br />
    E-Mail <input name="Email" type="text" /><br />
    Address (Line 1) <input name="AddressStreet" type="text" /><br />
    Address (Line 2) <input name="AddressCityZip" type="text" /><br />


    <input type="submit" value="Add Client" />

</form>
