@model MinVoiCe.ViewModels.AddClientViewModel

<h1>Add Client</h1>

<form asp-controller="Home" asp-action="Client" method="post">

    <div asp-validation-summary="All"></div>

    Name <input asp-for="Name"><br />
    Point of Contact <input asp-for="PointOfContact"><br />
    Phone <input asp-for="Phone" /><br />
    E-Mail <input asp-for="EMail" /><br />
    Address (Line 1) <input asp-for="AddressStreet" /><br />
    Address (Line 2) <input asp-for="AddressCityZip" /><br />

    <input type="submit" value="Add Client" />

</form>
