

<h1>Add Project</h1>

<form asp-controller="Home" asp-action="Project" method="post">

    Name <input name="Name" type="text" /><br />
    Rate <input name="Rate" type="text" /><br />
    Description<br /> <textarea name="Description" type="text"></textarea><br />

    <input type="submit" value="Add Project" />

</form>
