@{
    ViewData["Title"] = "Dashboard";
}

<h1>Projects</h1>
This is a list of projects. Clicking one will send the user to the individual project page, which will have info about the project and the hourly rate which applies.

<hr />
<h1>Clients</h1>
This is a list of clients. Clicking one will send the user to the individual client page, which will have info about the client, address, POC, and a list of projects associated with that client.
<br />
<br />

<table>
    @if (ViewBag.Clients.Count != 0)

    {
        <tr>
            <th style="width: 200px;">Client Name</th>
            <th style="width: 200px;">Point of Contact</th>
            <th style="width: 200px;">Phone No.</th>
        </tr>
        @foreach (Client aClient in ViewBag.Clients)
        {
            <tr>
                <td>@aClient.Name</td>
                <td>@aClient.PointOfContact</td>
                <td>@aClient.Phone</td>
            </tr>
        }
    }
</table>

<hr />
<h1>Time Entries</h1>
This is a list of time entries. Time entries listed below have not been rolled into an invoice yet. 

<br />
<br />
<br />
