<h1>SINGLE PROJECT</h1>
<h6><a href="/">(Home)</a></h6>

NAME: @ViewBag.SingleProject.Name<br />
RATE: @ViewBag.SingleProject.Rate<br />
DESCRIPTION: @ViewBag.SingleProject.Description<br />

CLIENT: (TODO)

