@model MinVoiCe.ViewModels.AddClientViewModel


<div class="addTimeWrapper">
    <div class="worktime addtime">
        <form asp-controller="Client" asp-action="Client" method="post">
            <h3>Add Client//</h3>
            <hr />
            <div asp-validation-summary="All"></div>
            <table>
                <tr>
                    <td>Name</td>
                    <td><input asp-for="Name"></td>
                </tr>
                <tr>
                    <td>Point of Contact</td>
                    <td><input asp-for="PointOfContact"></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input asp-for="Phone" /></td>
                </tr>
                <tr>
                    <td>E-Mail</td>
                    <td><input asp-for="EMail" /></td>
                </tr>
                <tr>
                    <td style="width: 120px;">Address (Line 1)</td>
                    <td><input asp-for="AddressStreet" /></td>
                </tr>
                <tr>
                    <td> Address (Line 2)</td>
                    <td><input asp-for="AddressCityZip" /></td>
                </tr>
            </table>
            <br />

            <input type="image" src="~/images/add-button.png" style="width: 60px;" class="addButton withGlow" />
        </form>
    </div>

    <div class="worktime">
        @if (Model.Clients.Count != 0)
        {
            <img src="~/images/briefcase.png" />
            <h3>Clients//</h3>
            <table>

                <tr>
                    <th style="width: 150px;">Client Name</th>
                    <th>Point of Contact</th>
                    <th style="width: 100px;">Phone No.</th>
                </tr>
                @foreach (Client aClient in Model.Clients)
                {
                    <tr>
                        <td><a asp-controller="Client" asp-action="Client" asp-route-id="@aClient.ClientID">@aClient.Name</a></td>
                        <td>@aClient.PointOfContact</td>
                        <td>@aClient.Phone</td>
                    </tr>
                }

            </table>

        }
    </div>
</div>




