<div class="addTimeWrapper">
    <div class="singleBox">
        <img src="~/images/single-project-ref.png" />

        <strong>Name:</strong> @ViewBag.SingleProject.Name<br />
        <strong>Client:</strong> @ViewBag.SingleProject.Client.Name<br />
        <strong>Rate:</strong> @ViewBag.SingleProject.Rate<br />
        <strong>Description:</strong> @ViewBag.SingleProject.Description<br /><br />

        <strong>Notes:</strong> TBD<br /><br />
        <h6><a href="/">(Home)</a></h6>
    </div>
</div>