/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.navbar {
    font-family: Calibri;
    font-size: 14px;
    padding: 0 20px;
}

.navbar-brand {
    font-size: 20px;
    padding-right: 40px;
}

body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

li{
    position: relative;
    list-style-type: circle;
    left: -10px;
}

h1 {
    font-family: Calibri;
    font-size: 30px;
    margin: 5px 0 15px;
}

h2 {
    font-family: Calibri;
    font-size: 20px;
    margin: 0 0 5px 0;
    background-color: darkslategray;
    color: #cdebeb;
    border-radius: 12px;
    padding: 4px;
}

h3 {
    font-size: 20px;
}

.bluegreenBG {
    background-color: #5fe5e5;
    color: #080d0d;
    border: 1px solid #00091a;
}

.lightBG {
    background-color: #cdebeb;
    color: #080d0d;
    border: 1px solid #00091a;
}

.projectPanel {
    font-size: 16px;
    height: 400px;
    width: 200px;
    float: left;
    padding: 12px 10px 0 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.withShadow {
    box-shadow: rgba(0,0,0,.45) -3px 3px 8px;
}

.withGlow {
    box-shadow: rgb(82, 255, 238) 0 0 20px;
}

.projectPanel a {
    color: darkslategray;
}

.panelWrapper {
    position: relative;
    width: 90%;
    min-width: 400px;
    margin: 0px auto;
    top: 20px;
    padding: 2px;
    align-content: center;
    box-sizing: content-box;
}

.panelWrapper::after {
    content: "";
    clear: both;
    display: table;
}

.selectProject{
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

.selectProject table{
    width: 100%;
    margin: 10px 0 0 0;
}

.selectProject td {
     padding: 0 2px;
}

.selectLabel {
    width: 120px;
}

.selectProject select {
    width: 100%;
    float: right;
}

.ProjButton {
    width: 100%;
}

.ProjButtonCell {
    width: 50px;
}

.mainPanel {
    padding-left: 0px;
    width: calc(100% - 220px);
    min-width: 400px;
    float: left;
}

.invoiceUpdate {
    transform: translateX(-40px);
    margin-top: 30px;
    z-index: 3;
}

.invoiceConfirm {
    transform: translateX(40px);
    margin-top: 30px;
}

.addTimeButton {
    position:absolute;
    left: calc(50% - 30px);
    height:60px; 
    width:60px; 
    border-radius:100%; 
    color: inherit;
    z-index: 1;
}

.symbol {
    font-size: 70px;
    text-align: center;
    z-index: 2;
    top:-25px;
    position: relative;
}

.worktime {
    padding: 10px 10px 0;

}

.worktime td {
    padding: 5px;
}

.addtime {
    border-bottom: 1px solid #00091a;
    position: relative;
    padding-bottom: 30px;

}

.addtime table {
    width: 100%;
    margin-bottom: 10px;

}

.addtime .labelCell {
    width: 80px;
    font-weight: bold;
    vertical-align: top;

}

.addtime .hourInput {
    width: 50px;
}

.addtime input{
    width: 100%;
}

.addtime textarea {
    width: 100%;
    height: 40px;
}

.worktime .tableHeader1{
    width: 80px;
}

.worktime .tableHeader2 {
    width: 120px;
}

.worktime th{
    padding: 0 5px;
}

.worktime table{
    width: 100%;
}

.worktime select {
    width: 100%;
}

.addTimeWrapper{
    width: 60%;
    min-width: 340px;
    margin: 0 auto;
}