/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

.panelWrapper {
    position: relative;
    width: 90%;
    min-width: 400px;
    margin: 0px auto;
    /*border: 1px solid black;*/
    top: 20px;
    padding: 2px;
    align-content: center;
    box-sizing: content-box;
}

.panelWrapper::after {
    content: "";
    clear: both;
    display: table;
}

.selectProject{
    /*width: 90%;
    margin: 0 auto;*/
    border: 1px green solid;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 10px 10px 10px;
}

.projectPanel {
    border: 1px solid green;
    height: 400px;
    width: 200px;
    float: left;
    padding: 25px 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.mainPanel {
    padding-left: 0px;
    width: calc(100% - 220px);
    min-width: 400px;
    float: left;
}

.mainPanel td{
    padding: 2px;
}

.okay {
    border: 1px solid green;
    font-size:60px;
    text-align:center;
    line-height: 60px;
    position:relative;
    left: calc(50% - 30px); 
    height:60px; 
    width:60px; 
    border-radius:100%; 
    color: green;
    z-index: 3;
    bottom: -7px;
}

.worktime{
    padding: 10px 10px 0;
}